<!DOCTYPE html>
<html>
<head>
    <title>Authentication Details | Prototype</title>
    <link rel='stylesheet' href='/static/styles.css' />
</head>
<body>
<h1>Authentication Details</h1>
<pre>
user object: <%= userObject %>
</pre>
</body>
</html>
