<!DOCTYPE html>
<html>
<head>
    <title>Authentication Failed | Prototype</title>
    <link rel='stylesheet' href='/static/styles.css' />
</head>
<body>
<h1>Authentication Failed</h1>
<pre>
flash: <%= flash %>
</pre>
</body>
</html>
