<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/static/styles.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<% if ( session ) { %>
<pre>
<%= JSON.stringify( session, null, 4 ) %>
</pre>
<% } else { %>
<p>No session here.</p>
<% } %>

<p>Functions: <a href="/spike/login">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/spike/logout">Logout</a></p>
</body>
</html>
